<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/verify-email"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">

  <div class="background-glow glow-top"></div>
  <div class="background-glow glow-bottom"></div>

  <div class="login-container">

    <div class="brand-logo">

      <img
        src="assets/images/jangora-logo.png"
        alt="Jangora Logo"
        class="logo">

    </div>

    <div class="heading">

      <h1>Welcome Back</h1>

      <p>
        Sign in and continue building
        healthier financial habits.
      </p>

    </div>

    <div class="form">

      <div class="input-box">

        <label>Email Address</label>

        <ion-input
          [(ngModel)]="email"
          type="email">
        </ion-input>

      </div>

      <div class="input-box">

        <label>Password</label>

        <div class="password-field">

          <ion-input
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'">
          </ion-input>

          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()">
          </ion-icon>

        </div>

      </div>

      <div
        class="forgot-password"
        (click)="forgotPassword()">
        Forgot Password?
      </div>

    </div>

    <ion-button
      expand="block"
      class="login-button"
      (click)="login()"
      [disabled]="loading">

      <ion-spinner
        *ngIf="loading"
        name="crescent">
      </ion-spinner>

      <span *ngIf="!loading">
        Sign In
      </span>

    </ion-button>

    <div class="divider">

      <div></div>

      <span>OR</span>

      <div></div>

    </div>

    <ion-button
      expand="block"
      fill="outline"
      class="google-button">

      <ion-icon
        slot="start"
        name="logo-google">
      </ion-icon>

      Continue with Google

    </ion-button>

    <div class="footer">

      Don't have an account?

      <span (click)="register()">
        Create Account
      </span>

    </div>

  </div>

</ion-content>