.splash-container {
  --background: var(--app-background);
}

.logo-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fadeIn 1.5s ease-in-out;
}

.logo {
  width: 180px;
  margin-bottom: 20px;

  animation: floatLogo 3s ease-in-out infinite;
}

.app-name {
  color: var(--app-text-heading);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.tagline {
  color: #F39C12;
  font-size: 1rem;
  margin-top: 10px;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}