<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forgot-page">

  <div class="background-glow glow-top"></div>
  <div class="background-glow glow-bottom"></div>

  <div class="forgot-container">

    <div class="heading">

      <h1>Reset Password</h1>

      <p *ngIf="!emailSent">
        Enter your email and we’ll send you a reset link.
      </p>

      <p *ngIf="emailSent">
        A reset link has been sent to your email.
      </p>

      <p *ngIf="message" style="margin: 8px 0 0; color: #52B788; font-size: 13px;">
        {{ message }}
      </p>

    </div>

    <div class="form" *ngIf="!emailSent">

      <div class="input-box">

        <label>Email Address</label>

        <ion-input
          [(ngModel)]="email"
          type="email">
        </ion-input>

      </div>

    </div>

    <ion-button
      *ngIf="!emailSent"
      expand="block"
      class="reset-button"
      [disabled]="!email || loading"
      (click)="sendResetLink()">

      <ion-spinner
        *ngIf="loading"
        name="crescent">
      </ion-spinner>

      <span *ngIf="!loading">
        Send Reset Link
      </span>

    </ion-button>

    <ion-button
      *ngIf="emailSent"
      expand="block"
      class="reset-button"
      (click)="backToLogin()">
      Back to Login
    </ion-button>

  </div>

</ion-content>